<div class="text-center">
  <h2>{{name}}</h2>

  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <form>
    <input type="text" >
    <button class="btn btn-primary">Post comment</button>
 </form>
</div>

<script src="./js/comments.js"></script>
